In [1]:
import os
import sqlalchemy
import pandas as pd 

from boliga import BoligaSold

In [3]:
DB = 'boligDB'
TABLE = 'boliga_sold'
POSTGRES_URI = f"{os.environ['POSTGRES_URI']}/{DB}"

In [5]:
def send_bolig(bolig, table, **kwargs):

    if bolig.empty:
        return f'No DataFrame to send to {table}'

    # postgres query roomSize will require "roomSize"
    bolig.columns = bolig.columns.str.lower()

    # columns with dict causes issues. stringfy thme
    columns = bolig.select_dtypes('object').columns
    bolig[columns] = bolig[columns].astype(str)

    engine = sqlalchemy.create_engine(POSTGRES_URI)
    bolig.to_sql(table, engine, if_exists='append')
    print(f'There were {len(bolig)} estates send to {DB}.{table}')
    engine.dispose()
    
    return bolig

In [6]:
# Bolig Sold
api_name = 'boliga.dk'
print(f'\n[+] Using {api_name} to demostrate advance web scraping ideas for sold estates\n')

# instantiate a class
boliga_sold = BoligaSold(url='https://api.boliga.dk/api/v2/sold/search/results')

# multipe pages per call
workers = 5
start_page = 1
end_page = 50
page_size = 200

print(f'[+] Start {workers} threads for {page_size} pagesize per call: start at page {start_page} and at page {end_page} \n')
boliga_sold.get_pages(start_page=start_page, end_page=end_page,
                        pagesize=page_size, workers=workers, verbose=False)

[+] Using boliga.dk to demostrate advance web scraping ideas for sold estates

[+] Start 5 threads for 200 pagesize per call: start at page 1 and at page 50

BoligaSold(API='https://api.boliga.dk/api/v2/sold/search/results')

In [8]:
bolig = boliga_sold.DataFrame
print(f'\n{bolig.shape[0]} estates found.\nData types are?')
print(bolig.dtypes)  # data types

10400 estates found.
Data types are?
estateId              int64
address              object
zipCode               int64
price                 int64
soldDate             object
propertyType          int64
saleType             object
sqmPrice            float64
rooms               float64
size                  int64
buildYear             int64
change              float64
guid                 object
latitude            float64
longitude           float64
municipalityCode      int64
estateCode            int64
city                 object
groupKey             object
canGetVR               bool
dtype: object

In [9]:
_ = send_bolig(bolig, table=TABLE)

There were 10400 estates send to boligDB.boliga_sold

In [14]:
TABLE

'boliga_sold'

In [10]:
POSTGRES_URI

'postgresql+psycopg2://danpra:postgrespwd@postgres:5432/boligDB'

In [28]:
engine = sqlalchemy.create_engine(POSTGRES_URI)
example = pd.read_sql(f'SELECT * FROM {TABLE}', engine)
engine.dispose()

In [29]:
example.shape

(20800, 21)

In [21]:
example.solddate.iloc[9]  "YYYY-MM-DDTHH:MI:SS"

'2020-10-07T22:00:00.000Z'

In [20]:
example.isna().sum()

index               0
estateid            0
address             0
zipcode             0
price               0
solddate            0
propertytype        0
saletype            0
sqmprice            2
rooms               0
size                0
buildyear           0
change              0
guid                0
latitude            0
longitude           0
municipalitycode    0
estatecode          0
city                0
groupkey            0
cangetvr            0
dtype: int64

In [17]:
example.columns

Index(['estateid', 'price', 'solddate'], dtype='object')

In [11]:
bolig.head()

,estateid,address,zipcode,price,solddate,propertytype,saletype,sqmprice,rooms,size,buildyear,change,guid,latitude,longitude,municipalitycode,estatecode,city,groupkey,cangetvr
0,1698054,"Pile Alle 5G, st. th",2000,4380000,2020-10-07T22:00:00.000Z,3,Alm. Salg,47096.773,3.0,93,1975,-2.558398,A6C9005A-8004-4295-AB4D-9EAAA41F5026,55.673317,12.533455,147,180659,Frederiksberg,nan,True
1,1683616,Bragesvej 1,3650,2695000,2020-10-07T22:00:00.000Z,2,Alm. Salg,23849.557,4.0,113,1996,0.000000,5D9157AC-9F69-457C-BC69-4BDBF7848AC9,55.772114,12.176261,240,13956,Ølstykke,nan,True
2,1694355,"Sankt Jørgens Allé 8, 5. tv",1615,4480000,2020-10-07T22:00:00.000Z,3,Alm. Salg,56000.000,3.0,80,1877,-2.502720,4A8B0935-D442-441A-9B5B-58F4B69B908A,55.673950,12.559248,101,841200,København V,nan,True
3,0,"Gyvelvej 16, st. th",2600,1650000,2020-10-07T22:00:00.000Z,3,Fam. Salg,20886.076,3.0,79,1961,0.000000,53AE78B6-1A76-4C04-BE50-F6B87CB787D2,55.658870,12.405581,161,15229,Glostrup,nan,True
4,0,Gøgevej 25,6854,1600000,2020-10-07T22:00:00.000Z,4,Fam. Salg,19277.110,4.0,83,1975,0.000000,FCA94F72-B05A-4AF5-90E5-C84AE55702F6,55.743572,8.185631,573,93019,Henne,nan,True

In [4]:
# empty table
with sqlalchemy.create_engine(
    f'{POSTGRES_URI}',
    isolation_level='AUTOCOMMIT'
).connect() as connection:
    connection.execute(f'TRUNCATE TABLE {TABLE}')

In [ ]:
# Center in Grafana Geop
# Copenhagen lat, log == 55.676098, 12.568337

In [14]:
Query =  """
GRANT USAGE ON SCHEMA public TO grafanareader;
GRANT SELECT ON boliga_sold TO grafanareader;
"""

with sqlalchemy.create_engine(
    f'{POSTGRES_URI}',
    isolation_level='AUTOCOMMIT'
).connect() as connection:
    connection.execute(Query)

In [22]:
engine = sqlalchemy.create_engine(POSTGRES_URI)

In [26]:
# '2020-10-07T22:00:00.000Z'

pd.read_sql("""
SELECT
  guid
  ,address
  ,price
  ,latitude
  ,longitude
  ,"size" AS "house_size"
  ,to_timestamp(solddate,'YYYY-MM-DDTHH:MI:SS') AS time
  
FROM
  boliga_sold
""", engine)

,guid,address,price,latitude,longitude,house_size,time
0,A6C9005A-8004-4295-AB4D-9EAAA41F5026,"Pile Alle 5G, st. th",4380000,55.673317,12.533455,93,2020-10-07 00:00:00+00:00
1,5D9157AC-9F69-457C-BC69-4BDBF7848AC9,Bragesvej 1,2695000,55.772114,12.176261,113,2020-10-07 00:00:00+00:00
2,4A8B0935-D442-441A-9B5B-58F4B69B908A,"Sankt Jørgens Allé 8, 5. tv",4480000,55.673950,12.559248,80,2020-10-07 00:00:00+00:00
3,53AE78B6-1A76-4C04-BE50-F6B87CB787D2,"Gyvelvej 16, st. th",1650000,55.658870,12.405581,79,2020-10-07 00:00:00+00:00
4,FCA94F72-B05A-4AF5-90E5-C84AE55702F6,Gøgevej 25,1600000,55.743572,8.185631,83,2020-10-07 00:00:00+00:00
...,...,...,...,...,...,...,...
10395,43721C50-5300-4494-A2B1-63B32EF80451,Rosenvold 48,1805000,55.755543,9.407311,108,2020-08-13 00:00:00+00:00
10396,B90608B4-F092-43DC-8EDB-8D1F4D651D91,Degnebanken 6,2325000,55.407642,12.137406,153,2020-08-13 00:00:00+00:00
10397,89A6CEB5-5D5D-4451-9F0A-2A3342A3A2E1,Skovbrynet 18,795000,55.816017,8.195943,96,2020-08-13 00:00:00+00:00
10398,62D6FEA8-526E-4036-A501-68923C75FC6E,Teglbakken 5,995000,54.899345,9.626875,80,2020-08-13 00:00:00+00:00
10399,E78018AD-CDAA-45C1-B6BC-6F322883C706,Fyrrelysvej 6,1195000,55.955590,11.471048,50,2020-08-13 00:00:00+00:00